/* Header.css */
.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f8f9fa;
  color: #333;
  padding: 10px 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 1000;
  box-sizing: border-box;
  height: 70px;
}

.header-title-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
}

.header-title {
  margin-top: 15px;
  margin-right: 10px;
  font-size: 2em;
}

.header-flag {
  width: 70px;
  height: auto;
}

.header-logout-button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
  font-size: 1em;
}
